ul,ol{
    margin: 10px;
    padding: 25px;
    background-color:rgba(139, 204, 237, 0.802);
    border: 2px solid gray;
    border-radius: 10px;
    width: 350px;
    height: 250px;
}
ul{
    list-style-type:circle;
}

ol{
    list-style-type:decimal-leading-zero;
}